
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-right"></i>
                    <div class="name">right</div>
                    <div class="fontclass">.icon-right</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-left"></i>
                    <div class="name">left</div>
                    <div class="fontclass">.icon-left</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-down"></i>
                    <div class="name">down</div>
                    <div class="fontclass">.icon-down</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-left1"></i>
                    <div class="name">left</div>
                    <div class="fontclass">.icon-left1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-more"></i>
                    <div class="name">more</div>
                    <div class="fontclass">.icon-more</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-more1"></i>
                    <div class="name">More</div>
                    <div class="fontclass">.icon-more1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bangzhu"></i>
                    <div class="name">帮助</div>
                    <div class="fontclass">.icon-bangzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shang"></i>
                    <div class="name">上</div>
                    <div class="fontclass">.icon-shang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-list"></i>
                    <div class="name">list</div>
                    <div class="fontclass">.icon-list</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xingxing"></i>
                    <div class="name">星星</div>
                    <div class="fontclass">.icon-xingxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xia"></i>
                    <div class="name">下</div>
                    <div class="fontclass">.icon-xia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mobile"></i>
                    <div class="name">mobile</div>
                    <div class="fontclass">.icon-mobile</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-msnui-workbench"></i>
                    <div class="name">工作台</div>
                    <div class="fontclass">.icon-msnui-workbench</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bangzhu1"></i>
                    <div class="name">帮助</div>
                    <div class="fontclass">.icon-bangzhu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-edit"></i>
                    <div class="name">edit</div>
                    <div class="fontclass">.icon-edit</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cubes"></i>
                    <div class="name">cubes</div>
                    <div class="fontclass">.icon-cubes</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-top"></i>
                    <div class="name">top</div>
                    <div class="fontclass">.icon-top</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhongdianchangsuo"></i>
                    <div class="name">重点场所</div>
                    <div class="fontclass">.icon-zhongdianchangsuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconfontcolor35"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-iconfontcolor35</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mail"></i>
                    <div class="name">mail</div>
                    <div class="fontclass">.icon-mail</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua2"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-right1"></i>
                    <div class="name">right</div>
                    <div class="fontclass">.icon-right1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hotline"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-hotline</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jia"></i>
                    <div class="name">加</div>
                    <div class="fontclass">.icon-jia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shijian"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-shijian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-income"></i>
                    <div class="name">收入</div>
                    <div class="fontclass">.icon-income</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shubaozhong1"></i>
                    <div class="name">书包</div>
                    <div class="fontclass">.icon-shubaozhong1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-more2"></i>
                    <div class="name">more</div>
                    <div class="fontclass">.icon-more2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-top1"></i>
                    <div class="name">top</div>
                    <div class="fontclass">.icon-top1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xingxing1"></i>
                    <div class="name">星星</div>
                    <div class="fontclass">.icon-xingxing1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanzhu"></i>
                    <div class="name">关注</div>
                    <div class="fontclass">.icon-guanzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxi"></i>
                    <div class="name">消息</div>
                    <div class="fontclass">.icon-xiaoxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanxian"></i>
                    <div class="name">权限</div>
                    <div class="fontclass">.icon-quanxian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pulldown"></i>
                    <div class="name">pull-down</div>
                    <div class="fontclass">.icon-pulldown</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinxi01"></i>
                    <div class="name">信息</div>
                    <div class="fontclass">.icon-xinxi01</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhichu"></i>
                    <div class="name">支出</div>
                    <div class="fontclass">.icon-zhichu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua3"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mail1"></i>
                    <div class="name">mail</div>
                    <div class="fontclass">.icon-mail1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-filter"></i>
                    <div class="name">filter</div>
                    <div class="fontclass">.icon-filter</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chazhao"></i>
                    <div class="name">查找</div>
                    <div class="fontclass">.icon-chazhao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-contact"></i>
                    <div class="name">联系</div>
                    <div class="fontclass">.icon-contact</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanxianxiugai"></i>
                    <div class="name">权限修改</div>
                    <div class="fontclass">.icon-quanxianxiugai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quxiao"></i>
                    <div class="name">取消</div>
                    <div class="fontclass">.icon-quxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconfontjilufuzhi"></i>
                    <div class="name">记录</div>
                    <div class="fontclass">.icon-iconfontjilufuzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chanp0101"></i>
                    <div class="name">产品</div>
                    <div class="fontclass">.icon-chanp0101</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiadan"></i>
                    <div class="name">下单</div>
                    <div class="fontclass">.icon-xiadan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-desktophdcopy2"></i>
                    <div class="name">客户</div>
                    <div class="fontclass">.icon-desktophdcopy2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-email"></i>
                    <div class="name">email</div>
                    <div class="fontclass">.icon-email</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fapiaoguanli"></i>
                    <div class="name">发票管理</div>
                    <div class="fontclass">.icon-fapiaoguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huiyiting"></i>
                    <div class="name">会议厅</div>
                    <div class="fontclass">.icon-huiyiting</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jilu"></i>
                    <div class="name">记录</div>
                    <div class="fontclass">.icon-jilu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-edit1"></i>
                    <div class="name">edit</div>
                    <div class="fontclass">.icon-edit1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-c-invoice"></i>
                    <div class="name">发票</div>
                    <div class="fontclass">.icon-c-invoice</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wode"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-wode</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qizhi"></i>
                    <div class="name">旗帜</div>
                    <div class="fontclass">.icon-qizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-103"></i>
                    <div class="name">list</div>
                    <div class="fontclass">.icon-103</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jindu1"></i>
                    <div class="name">进度</div>
                    <div class="fontclass">.icon-jindu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wode1"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-wode1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qqqun"></i>
                    <div class="name">QQ群</div>
                    <div class="fontclass">.icon-qqqun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinxi"></i>
                    <div class="name">信息</div>
                    <div class="fontclass">.icon-xinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qian"></i>
                    <div class="name">钱</div>
                    <div class="fontclass">.icon-qian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kehu"></i>
                    <div class="name">客户</div>
                    <div class="fontclass">.icon-kehu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhongxue"></i>
                    <div class="name">中学</div>
                    <div class="fontclass">.icon-zhongxue</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-officeadd"></i>
                    <div class="name">通用-人员添加</div>
                    <div class="fontclass">.icon-officeadd</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhengfu"></i>
                    <div class="name">政府</div>
                    <div class="fontclass">.icon-zhengfu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jia1"></i>
                    <div class="name">加</div>
                    <div class="fontclass">.icon-jia1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouruliushui"></i>
                    <div class="name">收入流水</div>
                    <div class="fontclass">.icon-shouruliushui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-revenue"></i>
                    <div class="name">收入管理</div>
                    <div class="fontclass">.icon-revenue</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lock"></i>
                    <div class="name">lock</div>
                    <div class="fontclass">.icon-lock</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qiandai"></i>
                    <div class="name">钱袋</div>
                    <div class="fontclass">.icon-qiandai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sort"></i>
                    <div class="name">sort</div>
                    <div class="fontclass">.icon-sort</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bao"></i>
                    <div class="name">保</div>
                    <div class="fontclass">.icon-bao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-blacktie"></i>
                    <div class="name">black-tie</div>
                    <div class="fontclass">.icon-blacktie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bookmarko"></i>
                    <div class="name">bookmark-o</div>
                    <div class="fontclass">.icon-bookmarko</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bookmark"></i>
                    <div class="name">bookmark</div>
                    <div class="fontclass">.icon-bookmark</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-check"></i>
                    <div class="name">check</div>
                    <div class="fontclass">.icon-check</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-commenting"></i>
                    <div class="name">commenting</div>
                    <div class="fontclass">.icon-commenting</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-commentso"></i>
                    <div class="name">comments-o</div>
                    <div class="fontclass">.icon-commentso</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-comments"></i>
                    <div class="name">comments</div>
                    <div class="fontclass">.icon-comments</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-exclamationcircle"></i>
                    <div class="name">exclamation-circle</div>
                    <div class="fontclass">.icon-exclamationcircle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-exclamation"></i>
                    <div class="name">exclamation</div>
                    <div class="fontclass">.icon-exclamation</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-flag"></i>
                    <div class="name">flag</div>
                    <div class="fontclass">.icon-flag</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hourglassstart"></i>
                    <div class="name">hourglass-start</div>
                    <div class="fontclass">.icon-hourglassstart</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-infocircle"></i>
                    <div class="name">info-circle</div>
                    <div class="fontclass">.icon-infocircle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-info"></i>
                    <div class="name">info</div>
                    <div class="fontclass">.icon-info</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pencilsquareo"></i>
                    <div class="name">pencil-square-o</div>
                    <div class="fontclass">.icon-pencilsquareo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-phonesquare"></i>
                    <div class="name">phone-square</div>
                    <div class="fontclass">.icon-phonesquare</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-phone"></i>
                    <div class="name">phone</div>
                    <div class="fontclass">.icon-phone</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-plussquareo"></i>
                    <div class="name">plus-square-o</div>
                    <div class="fontclass">.icon-plussquareo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-plus"></i>
                    <div class="name">plus</div>
                    <div class="fontclass">.icon-plus</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qq"></i>
                    <div class="name">qq</div>
                    <div class="fontclass">.icon-qq</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-questioncircle"></i>
                    <div class="name">question-circle</div>
                    <div class="fontclass">.icon-questioncircle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-question"></i>
                    <div class="name">question</div>
                    <div class="fontclass">.icon-question</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-search"></i>
                    <div class="name">search</div>
                    <div class="fontclass">.icon-search</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sellsy"></i>
                    <div class="name">sellsy</div>
                    <div class="fontclass">.icon-sellsy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoppingcart"></i>
                    <div class="name">shopping-cart</div>
                    <div class="fontclass">.icon-shoppingcart</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-signin"></i>
                    <div class="name">sign-in</div>
                    <div class="fontclass">.icon-signin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-signout"></i>
                    <div class="name">sign-out</div>
                    <div class="fontclass">.icon-signout</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-spinner"></i>
                    <div class="name">spinner</div>
                    <div class="fontclass">.icon-spinner</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-suitcase"></i>
                    <div class="name">suitcase</div>
                    <div class="fontclass">.icon-suitcase</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-trasho"></i>
                    <div class="name">trash-o</div>
                    <div class="fontclass">.icon-trasho</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-trash"></i>
                    <div class="name">trash</div>
                    <div class="fontclass">.icon-trash</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-user"></i>
                    <div class="name">user</div>
                    <div class="fontclass">.icon-user</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-users"></i>
                    <div class="name">users</div>
                    <div class="fontclass">.icon-users</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-warning"></i>
                    <div class="name">warning</div>
                    <div class="fontclass">.icon-warning</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yen"></i>
                    <div class="name">yen</div>
                    <div class="fontclass">.icon-yen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanxianliebiao"></i>
                    <div class="name">权限列表</div>
                    <div class="fontclass">.icon-quanxianliebiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-workbench1"></i>
                    <div class="name">workbench-1</div>
                    <div class="fontclass">.icon-workbench1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kehu1"></i>
                    <div class="name">客户</div>
                    <div class="fontclass">.icon-kehu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jindutiao"></i>
                    <div class="name">进度条</div>
                    <div class="fontclass">.icon-jindutiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingdanxiazai"></i>
                    <div class="name">一键下单</div>
                    <div class="fontclass">.icon-dingdanxiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tianjiajia"></i>
                    <div class="name">添加加</div>
                    <div class="fontclass">.icon-tianjiajia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie737"></i>
                    <div class="name">客服</div>
                    <div class="fontclass">.icon-unie737</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-education"></i>
                    <div class="name">学位</div>
                    <div class="fontclass">.icon-education</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiadan1"></i>
                    <div class="name">下单</div>
                    <div class="fontclass">.icon-xiadan1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ptjs"></i>
                    <div class="name">平台介绍</div>
                    <div class="fontclass">.icon-ptjs</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weibiaoti3"></i>
                    <div class="name">resource</div>
                    <div class="fontclass">.icon-weibiaoti3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ziyuan"></i>
                    <div class="name">资源</div>
                    <div class="fontclass">.icon-ziyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yumourenqiatan"></i>
                    <div class="name">交谈</div>
                    <div class="fontclass">.icon-yumourenqiatan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiadan2"></i>
                    <div class="name">下单</div>
                    <div class="fontclass">.icon-xiadan2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unlock"></i>
                    <div class="name">unlock</div>
                    <div class="fontclass">.icon-unlock</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tongxunlu"></i>
                    <div class="name">通讯录</div>
                    <div class="fontclass">.icon-tongxunlu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanxian1"></i>
                    <div class="name">权限</div>
                    <div class="fontclass">.icon-quanxian1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shen"></i>
                    <div class="name">审</div>
                    <div class="fontclass">.icon-shen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanxian2"></i>
                    <div class="name">权限</div>
                    <div class="fontclass">.icon-quanxian2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanxian3"></i>
                    <div class="name">权限</div>
                    <div class="fontclass">.icon-quanxian3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiaoseguanli"></i>
                    <div class="name">角色管理</div>
                    <div class="fontclass">.icon-jiaoseguanli</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
